<h1>Autumn</h1>
{{#each seasonData}}
<div class='col-sm-4 inline'>
  <div class="card" style="width: 18rem;">
  <a href='/autumn/{{id}}'><img class="card-img-top" src="{{image}}"></a>
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        {{!-- <p class="card-text">{{description}}</p>  --}}
        <p>${{price}} each</p>
  </div>
</div>
{{/each}}
