<link rel="stylesheet" href="/public/main.css">
<div class='col-sm-4 inline'>
  <div class="card" style="width: 18rem;">
  <a href='/categories/{{id}}'><img class="card-img-top" src="{{image}}"></a>
    <div class="card-body px-3">
      <form class='form' action="/{{season}}/{{id}}" method='POST'>
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p> 
        <p>${{price}} each</p>
        <label for="name" class="form-item">
          <input type = "number">
        </label>
        <button type="submit" name="" class="btn btn-primary btn-lg">Add 2 Cart</button>
      </form>
    </div>
  </div>
  <br/>
<div class="btn-group" role="group" aria-label="...">
  <a href="/" class="btn btn-primary btn-lg">Home</a>
</div>
<div class="btn-group" role="group" aria-label="...">
  <a href="/categories" class="btn btn-primary btn-lg">Back</a>
</div>
</div>


